/*table style*/

#table-render-space{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5d5b4 ;
    width:96%;
    margin-bottom: 8%;
}

#table {
    width: 100%;
    border: 1px dotted black;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;

}

td {
    border: 2px solid black;
    padding: 1px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #c7c0c0;
}

th {
    width:1%;
    background-color: rgb(21, 63, 21);
    color: white;
    padding: 6px;
    border: 1px solid black;
   
}